.resumeItem {
  padding: 30px 35px;
}

#summaryForm {
  display: none;
}

#otherForm {
  display: none;
}

/* small screens */
@media only screen and (max-width: 576px) {
  .resumeItem {
    padding: 15px 20px;
  }
}
